*{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
}

.sample{
    height: 400px;
    width: 400px;
}

.onePanel, .panel{
    margin: 1% 0;
}

.onePanel{
    background: gray;
    height: 40vh;
    width: 80vw;
}

.threePanel{
    display: flex;
    justify-content: space-between;
    height: 40%;
    width: 80vw;
}

.panel{
    background: gray;
    width: 30%;
}

@media screen and (max-width: 700px) {
    .container{
        height: auto;
    }
    .threePanel{   
      flex-direction: column;
    } 

    .panel{
        width: auto;
        height: auto;
    }
}
  