*{
    margin: 0;
}

/* .container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

body{
    display: flex;
    justify-content: center;
}

img{
    width: 60vw;
}

.button{
    position: absolute;
    bottom: 5%;
}

