*{
    margin: 0;
}

/* .container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 700px;
}

.button{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center ;
}

a{
    width: 10vw;
    height: 10vw;
}

.btn{
    width: 10vw;
    position: absolute;
}

@media screen and (max-width: 700px) {
    body{
        width: 100vw;
        height: 100vh;
        align-items: center;
    }
    img{
        width: 100vw;
    }

    /* a{
        width: 10vw;
        height: 10vw;
        position: absolute;
        bottom: 0;
        margin-top: 100%;
        right: 0;
    } */
}


